name: flutter_uvc_camera
description: A Flutter plugin for USB Video Class (UVC) camera support on Android
version: 0.2.0
publish_to: none

environment:
  sdk: ^3.9.2
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.flutter_uvc_camera
        pluginClass: FlutterUvcCameraPlugin
